<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
    <!--Meta données -->
    <meta name="author" content="Camara Laby Damaro, Etudiant Développeur">
    <meta name="description" content="site Personnel de Laby Damaro Camara, Portfolio, Resume, blog">
    <meta name="author" content="Camara Laby Damaro, Etudiant intégrateur Web &amp; Développeur Full Stack">
    <title>Camara Laby Damaro</title>
    <!-- FAVICON -->
    <link rel="icon" href="images/logo/camlogo.ico">
    <link rel="apple-touch-icon" sizes="72x72" href="images/logo/camlogo72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="images/logo/camlogo76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/images/logo/camlogo114x114.png">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

	<link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.css" integrity="sha256-rnmbX+ZXZml9xbNUKt/qXfgpCi6zLJX7qqR+7vX/1ZY=" crossorigin="anonymous" />
	<link rel="stylesheet" href="/CSS/style.css">

</head>
<body>