<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <div class="container">
       <a class="navbar-brand mr-auto" href="#"><img src="images/logo/camlogo.png"   width="80" alt="logo de mon site" class="img-fluid"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarColor01">
             <ul class="navbar-nav mr-auto">
                 <li>
                    <a class="nav-link" href="https://camaratek.com/"><span class="fa fa-home fa-lg"> Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://camaratek.com/aboutme.php"><span class="fa fa-info fa-lg"></span> Apropos de moi</a>
                </li>
                <li class="nav-item"><a href="https://camaratek.com/portefolio.php" class="nav-link"><span class="fa fa-graduation-cap fa-lg"></span> Portefolio</a></li>
                
                <li class="nav-item"><a href="https://camaratek.com/blog.php" class="nav-link"><span class="fa fa-certificate fa-lg"></span> Blog</a></li>
                <li class="nav-item">
                    <a class="nav-link" href="https://camaratek.com/contactme.php"><span class="fa fa-address-card fa-lg"></span> Contact</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" action="/results" method="GET">
                <input class="form-control mr-sm-2" type="text" name="searchquery" placeholder="id (1...)">
                <button class="btn btn-secondary my-2 my-sm-0"  type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>